@using Model.Models;
@model ChapterListModel
@{ 
    Model.SelectedCourse.Components.SortByParameter();
}
@if (Model.LastChapterId != null && Model.LastChapterId !=0)
{
    var Chapter = Model.SelectedCourse.Components.First(p=> p.Id == (int)Model.LastChapterId);
    <div class="mb-lg-4">
        <h3>Вы закончили на главе:</h3>
        <a asp-page="/ChapterPage" asp-route-Id="@Model.LastChapterId">@Chapter.Name</a>;
    </div>
}
<div class="list-group">
    @if (Model.SelectedCourse.Components != null && Model.SelectedCourse.Components.Count > 0)
        if (Model.SelectedUser.FavoriteCourses.Count(c => c.Id == Model.SelectedCourse.Id) > 0)
            foreach (var item in Model.SelectedCourse.Components)
            {
                <a class="list-group-item list-group-item-action" asp-page="/ChapterPage" asp-route-Id="@item.Id">
                    <div class="ml-lg-4 my-lg-4">
                        <h4>@item.Name</h4>
                        <p class="mb-1">Читать далее</p>
                    </div>
                </a>
            }
        else
        {
            foreach (var item in Model.SelectedCourse.Components)
            {
                <a href="#" class="list-group-item list-group-item-action" style="cursor: not-allowed;">
                    <div class="mb-lg-4 my-lg-4">
                        <h4>@item.Name</h4>
                        <p class="mb-1">Читать далее</p>
                    </div>
                </a>
            }
        }
</div>
