@using Model.Models;
@model ChapterListModel
@if (Model.LastChapterId != null && Model.LastChapterId !=0)
{
    var Chapter = Model.SelectedCourse.Components.First(p=> p.Id == (int)Model.LastChapterId);
    <h3>Вы закончили на главе:</h3>
    <a asp-page="/ChapterPage" asp-route-Id="@Model.LastChapterId">@Chapter.Name</a>;
}
@if (Model.SelectedCourse.Components != null && Model.SelectedCourse.Components.Count > 0)
    if (Model.SelectedUser.FavoriteCourses.Count(c => c.Id == Model.SelectedCourse.Id) > 0)
        foreach (var item in Model.SelectedCourse.Components)
        {
            <h2>@item.Name</h2>
            <a asp-page="/ChapterPage" asp-route-Id="@item.Id">Читать далее</a>
        }
    else
    {
        foreach (var item in Model.SelectedCourse.Components)
        {
            <h2>@item.Name</h2>
            <a style="cursor: not-allowed;" href="#">Читать далее</a>
        }
    }