@using SkillCoacher.Pages.Shared
@using Model.Models
@model IndexDataModel
@if (Model.CoursesList == null || Model.CoursesList.Count == 0)
{
    <h4>Вы еще не подписаны на курсы</h4>
}
else
{
    @foreach (var item in Model.CoursesList)
    {
        <div class="col-md-6" id="courses">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" id="@item.Id">

                    <h3 class="mb-0">@item.Name</h3>
                    <div class="mb-1 text-muted">@item.DateOfPublication.ToShortDateString()</div>
                    <p class="mb-auto">@item.Description.<a asp-page="/CoursePage" asp-route-Id="@item.Id"> Читать далее.</a></p>
                    <div class="col pt-lg-2">
                        <button id="subscribe" class="btn btn-dark" onclick="DeleteFromFavorites(@item.Id);">Отписаться</button>


                        @foreach (var tag in item?.Tags)
                        {
                            <span class="badge badge-info" style="margin-block: 80px;">@tag.Name</span>
                        }
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="img-thumbnail" width="200" height="250" src="images/@item.TitleImagePath" />
                </div>
            </div>
        </div>
    }
}