@using SkillCoacher.Pages.Shared
@using Model.Models
@model IndexDataModel
@foreach(var item in Model.CoursesList){


    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" id="@item.Id">

            <h3 class="mb-0">@item.Name</h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto">@item.Description.</p>
            <a asp-page="/CoursePage" asp-route-Id="@item.Id">Продолжить чтение</a>
            @if (Model.CurrentUser != null)
            {
                if (Model.CurrentUser.FavoriteCourses.Count(c => c.Id == item.Id) > 0)
                {
                    <button id="subscribe" onclick="AddToFavorite(@item.Id);">Отписаться</button>
                }
                else
                {
                    <button id="subscribe" onclick="AddToFavorite(@item.Id);">Подписаться</button>
                }
            }
        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="img-thumbnail" width="200" height="250" src="images/@item.TitleImagePath" />
        </div>
        @foreach (var tag in 
            item.Tags)
        {
            <ul>@tag.Name</ul>
        }
    </div>

}
