@page "{id}"
@using Model.Models
@model CourseModel
@{
    ViewData["Title"] = "Course page";
    Model.SelectedCourse.Components.SortByParameter();
}

<form method="post">

</form>
<div class="col-md-8 blog-main shadow">
    <div class="blog-post">
        <input type="hidden" asp-for="@Model.SelectedCourse.Id" />
        <h2 class="blog-post-title">@Model.SelectedCourse.Name</h2>
        <p class="blog-post-meta">@Model.SelectedCourse.DateOfPublication.ToShortDateString() автор: <a href="#">@Model.SelectedCourse.OwnerCoacher.Login</a></p>
        <hr>

        <div id="partialChapterList">
            <partial itemid="patialChapterList" name="_PartialChapterList" , model="Model.PartialChapterList" />
        </div>
        <hr>
    </div>
    <input id="rating" type="hidden" asp-for="Grade" />
    <div id="full-stars-example-two">
        <div class="rating-group">
            <input disabled class="rating__input rating__input--none" name="rating3" id="rating3-0" value="0" type="radio">
            <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
            <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
            <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
            <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
            <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
        </div>
    </div>
    @if (double.IsNaN(Model.Rating))
    {
        <p id="visibleRating">У курса еще нет рейтинга</p>
    }
    else
    {
        <p id="visibleRating">Рейтинг курса @Model.Rating</p>
    }
<div class="row">
    @if (Model.CurrentUser != null)
    {
        if (Model.CurrentUser.FavoriteCourses.Count(c => c.Id == Model.SelectedCourse.Id) > 0)
        {
            <div class="col col-md-2 ml-lg-3 mb-lg-3">
                <button id="subscribeButton" onclick="AddToFavorite(@Model.SelectedCourse.Id);" class="btn btn-primary">Отписаться</button>
            </div>

        }
        else
        {
            <div class="col col-md-2 ml-lg-3 mb-lg-3">
                <button id="subscribeButton" onclick="AddToFavorite(@Model.SelectedCourse.Id);" class="btn btn-primary">Начать курс</button>
            </div>
        }
    }
</div>
</div>

<script>
    $(document).ready(() => {
        $('#rating3-' + $('#rating').val()).prop('checked', true);
        $(".rating-group > input").change((e) => {
            $grade = e.target.value;
            $.ajax({
                type: "POST",
                url: 'CoursePage?handler=ChangeGrade',

                data: {
                    courseId: $("#SelectedCourse_Id").val(),
                    Grade: $grade
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success(data) {
                    console.log(data.rating);
                    $("#visibleRating").text("Рейтинг курса " + data.rating);
                },
                dataType: "json"
            }).done(function (data) {


            });
        });
    });
    function AddToFavorite($Id) {
        let $button = $("#subscribeButton");
        console.log($button.text());
        if ($button.text() == "Начать курс") {
            $button.text("Отписаться");
        } else {
            $button.text("Начать курс");
        }
        console.log("Entered method");
        $.ajax({
            type: "POST",
            url: 'CoursePage?handler=AddToFavorite',

            data: {
                id: $("#CurrentCourse_Id").val(),
                courseId: $Id
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success(result) {
                document.getElementById('partialChapterList').innerHTML = result;
            },
            dataType: "html"
        }).done(function (data) {
            console.log(data.result);
        })
    };
</script>
