@page
@model IndexModel
@{
    if (User.Identity.IsAuthenticated)
        Layout = "_Layout";
    else
        Layout = "_SignLayout";
    ViewData["Title"] = "Home page";
}

<div class="row mb-2">
    <form method="post">
    </form>

    @foreach (var item in Model.CoursesList)
    {
        <div class="col-md-3" id="courses" style="padding-right: 0px; padding-left: 10px;">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" id="@item.Id">

                    <h3 class="mb-0">@item.Name</h3>
                    <div class="mb-1 text-muted">@item.DateOfPublication.ToShortDateString()</div>
                    <p class="mb-auto">@item.Description.<a asp-page="/CoursePage" asp-route-Id="@item.Id"> Читать далее.</a></p>
                    <div class="col pt-lg-2">
                        @foreach (var tag in item?.Tags)
                        {
                            <span class="badge badge-info" style="margin-block: 10px;">@tag.Name</span>
                        }
                        @if (Model.CurrentUser != null)
                        {
                            if (Model.CurrentUser.FavoriteCourses.Count(c => c.Id == item.Id) > 0)
                            {
                                <button id="subscribe" class="btn btn-primary" onclick="CourseToggleFavorite(@item.Id);" style="padding-left: 1px;padding-right: 1px;">Отписаться</button>
                            }
                            else
                            {
                                <button id="subscribe" class="btn btn-success" onclick="CourseToggleFavorite(@item.Id);" style="padding-left: 1px;padding-right: 1px;">Начать</button>
                            }
                        }
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="img-thumbnail" width="200" height="250" src="images/@item.TitleImagePath" />
                </div>
            </div>
        </div>
    }
</div>
    
<script>
    function CourseToggleFavorite($Id) {
        let $button = $("#" + $Id + " > div > #subscribe");
        console.log($Id)
        console.log($button.attr("text"));
        if ($button.text() == "Начать") {
            $button.text("Отписаться");
        } else {
            $button.text("Начать");
        }
        console.log("Entered method");
        $.ajax({
            type: "POST",
            url: 'Index?handler=AddToFavorite',

            data: {
                id: $("#CurrentCourse_Id").val(),
                courseId: $Id
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success() {
                
            },
            dataType: "json"
        }).done(function (data) {
            console.log(data.result);
        })
       
    };
</script>