@page
@using System.Text
@using System.Web
@model SkillCoacher.Pages.SubmitCourseModel
@{
}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/lib/dragndrop.css"></script>
<link rel="stylesheet" href="~/lib/dragndrop.css" />
<script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>
<div class="col-md-8 blog-main">
    <form method="post">
        <h2 class="blog-post-title">Опубликовать курс</h2>
        <hr />

        <input type="hidden" asp-for="CurrentCourse.Id" />
        <h4 class="pt-lg-3">Название курса</h4>
        <input class="form-control" id="Name" type="text" value="Название" asp-for="CurrentCourse.Name" />
        <h4 class="pt-lg-3">Описание курса</h4>
        <input class="form-control" id="Description" type="text" value="Описание" asp-for="CurrentCourse.Description" />
        <h4 class="pt-lg-3">Добавить раздел</h4>
        <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
            @for (int i = 0; i < Model.CurrentCourse.Components?.Count(); i++)
            {

                var item = Model.CurrentCourse.Components[i];
                <div id='@Model.CurrentCourse.Components[i].Id' class="list-item" data-id="@item.Sort" data-item-sortable-id="@item.Sort" draggable="true" role="option" aria-grabbed="false" style="">
                    <input class="form-control" asp-for="CurrentCourse.Components[i].Id" type="hidden"></input>
                    <input class="form-control" asp-for="CurrentCourse.Components[i].Discriminator" type="hidden"></input>
                    <div class="flex">
                        <input id="Name" asp-for="CurrentCourse.Components[i].Name" placeholder="@item.Name"></input>
                    </div>
                    <div class="no-wrap">
                    </div>
                    <div>
                        <div class="item-action dropdown">
                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                <a class="dropdown-item edit" asp-page="/SubmitChapter" asp-route-id="@Model.CurrentCourse.Components[i].Id" data-abc="true">Изменить</a>
                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" onclick="DeleteAjax(@Model.CurrentCourse.Components[i].Id);" data-abc="true">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button type="submit" class="btn btn-primary pt-lg-2" asp-page-handler="AddComponent" ;">Добавить</button>
        <h4 class="pt-lg-5">Добавьте теги</h4>
        <input id="TagsInput" type="text" data-role="tagsinput" />

        <div class="col-md-4 ml-md-auto pt-lg-4">
            <button type="button" class="btn btn-primary btn-lg" onclick="SaveChanges();">Сохранить</button>
            <button type="submit" class="btn btn-primary btn-lg" asp-page-handler="DeleteCourse">Удалить</button>
        </div>
    </form>
</div>
<hr />

<script type="text/javascript">
    $(document).ready(function () {
        var tagsArray = [];
        
        @foreach(var tag in Model.CurrentCourse.Tags)
            {
              @:tagsArray.push("@Html.Raw(HttpUtility.JavaScriptStringEncode(String.Format(tag.Name, Encoding.UTF8)))");

            }
        tagsArray.forEach((tag) => {

            $("#TagsInput").tagsinput("add", tag);
            console.log(tag);
        })
        if ($("#CurrentCourse_Id").val() == -1) {
            $(document).on("click", ".dropdown-item.trash, .dropdown-item.edit, #addComp", function (event) {
                event.preventDefault();
                alert("Сначала сохраните курс!");
            });
        }
    });
    function DeleteChapterAjax($deleteId) {
        console.log("Entered method");


        $.ajax({
            type: "POST",
            url: 'SubmitCourse?handler=DeleteAjax',

            data: {
                id: $("#CurrentCourse_Id").val(),
                deleteId: $deleteId
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success() {
                console.log($('#component/' + $deleteId));

            },
            dataType: "json"
        }).done(function (data) {
            console.log(data.result);
        })
        $('#sortable > #' + $deleteId).remove();
    };

    function SaveChanges() {
        console.log("Entered method");
        let $tags = $("#TagsInput").tagsinput('items');
        if ($tags.length == 0) {
            alert("Добавьте хотя бы один тег!");
            return;
        }
        let $content = new Array();
        $("#sortable > .list-item").each(function () {
            console.log($(this).children("input").eq(0).attr("id"));
            console.log($(this).children("input").eq(1).attr("id"));
            console.log($(this).find(".flex").find(":first-child").val());

            $content.push({
                Id: $(this).children("input").eq(0).val(), Descriminator: $(this).children("input").eq(1).val(),
                Name: $(this).find(".flex").find(":first-child").val(),
            });
        });
        let $CurrentCourse =
        {
            Id: $("#CurrentCourse_Id").val(),
            Name: $("#CurrentCourse_Name").val(),
            Description: $("#CurrentCourse_Description").val(),
            Components: $content
        }
        $.ajax({
            type: "POST",
            url: 'SubmitCourse?handler=SaveChanges',

            data: {
                CurrentCourse: $CurrentCourse,
                TagsStrings: $tags
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (data) {
                // const $result = JSON.parse(data);
                if (data.isNew)
                    window.location.replace(document.documentURI + "?Id=" + data.id);
            },
            dataType: "json"
        });
    };

    function AddNewComponent() {
        console.log("Entered methodAdd");

        $.ajax({
            type: "POST",
            url: 'SubmitCourse?handler=AddComponent&id=' + $("#CurrentCourse_Id").val(),

            data: {
                Id: $("#dbId").val(),
                Name: "New chapter",

            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },

            dataType: "text"
        }).done(function (data) {
            console.log(data.result);
        })
    }

    function DeleteCourse()
    {
        $.ajax({
            type: "POST",
            url: 'SubmitCourse?handler=DeleteCourse&id=' + $("#CurrentCourse_Id").val(),

            data: {
                Id: $("#dbId").val(),
                Name: "New chapter",

            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },

            dataType: "text"
        }).done(function () {
           
        })
    }
</script>
