@page
@using Model;
@using Model.Models;
@using System.Text
@using System.Web
@model SkillCoacher.Pages.SubmitCourseModel
@{
    Model.CurrentCourse.Components.SortByParameter();
}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/lib/dragndrop.css"></script>
<link rel="stylesheet" href="~/lib/dragndrop.css" />
<script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>
<div class="col-md-8 blog-main shadow">
    <form method="post">
        <h2 class="blog-post-title">Опубликовать курс</h2>
        <hr />

        <input id="CurrentCourse_Id" type="hidden" asp-for="CurrentCourse.Id" />
        <h4 class="pt-lg-3">Название курса</h4>
        <input class="form-control" id="CurrentCourse_Name" type="text" asp-for="CurrentCourse.Name" />
        <h4 class="pt-lg-3">Описание курса</h4>
        <input class="form-control" id="CurrentCourse_Description" type="text" asp-for="CurrentCourse.Description" />
        <h4 class="pt-lg-3">Добавить раздел</h4>
        <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
            @for (int i = 0; i < Model.CurrentCourse.Components?.Count(); i++)
            {

                var item = Model.CurrentCourse.Components[i];
                if (item.Discriminator == "Test")
                {
                    <div id='@Model.CurrentCourse.Components[i].Id' class="list-item" data-id="@item.Sort" data-item-sortable-id="@item.Sort" draggable="true" role="option" aria-grabbed="false" style="">
                        <input asp-for="CurrentCourse.Components[i].Id" class="form-control form-control-sm" type="hidden" />
                        <input asp-for="CurrentCourse.Components[i].Discriminator" class="form-control form-control-sm" type="hidden" />
                        <div class="flex">
                            <input id="Name" asp-for="CurrentCourse.Components[i].Name" class="form-control form-control-sm w-50" placeholder="@item.Name" />
                        </div>
                        <div class="no-wrap">
                        </div>
                        <div>
                            <div class="item-action dropdown">
                                <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                    <a class="dropdown-item edit" asp-page="/EditTest" asp-route-id="@Model.CurrentCourse.Components[i].Id" data-abc="true">Изменить</a>
                                    <div class="dropdown-divider"></div> <a class="dropdown-item trash" onclick="DeleteChapterAjax(@Model.CurrentCourse.Components[i].Id);" data-abc="true">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id='@Model.CurrentCourse.Components[i].Id' class="list-item" data-id="@item.Sort" data-item-sortable-id="@item.Sort" draggable="true" role="option" aria-grabbed="false" style="">
                        <input class="form-control form-control-sm" asp-for="CurrentCourse.Components[i].Id" type="hidden" />
                        <input class="form-control form-control-sm" asp-for="CurrentCourse.Components[i].Discriminator" type="hidden" />
                        <div class="flex">
                            <input class="form-control form-control-sm w-50" id="Name" asp-for="CurrentCourse.Components[i].Name" placeholder="@item.Name" />
                        </div>
                        <div class="no-wrap">
                        </div>
                        <div>
                            <div class="item-action dropdown">
                                <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                    <a class="dropdown-item edit" asp-page="/SubmitChapter" asp-route-id="@Model.CurrentCourse.Components[i].Id" data-abc="true">Изменить</a>
                                    <div class="dropdown-divider"></div> <a class="dropdown-item trash" onclick="DeleteChapterAjax(@Model.CurrentCourse.Components[i].Id);" data-abc="true">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
            <hr />

            <div class="row">
                <div class="col col-sm-2 ml-lg-1">
                    <button type="submit" class="btn btn-success" id="addComp" style="width: 160px;padding-left: 6px;border-left-width: 1px;margin-left: 18px;margin-bottom: 14px;" asp-page-handler="AddComponent" ;">Добавить раздел</button>
                </div>
                <div class="col col-sm-2 ml-lg-1">
                    <button type="submit" class="btn btn-success" id="addTest" asp-page-handler="AddTest" ;" style="width: 160px;padding-left: 6px;border-left-width: 1px;margin-left: 18px;margin-bottom: 14px;">Добавить тест</button>
                </div>
            </div>

        </div>
        <h4 class="pt-lg-5">Добавьте теги</h4>
        <input id="TagsInput" type="text" data-role="tagsinput" />
        <hr />
        <div class="row mx-md-n5 pb-lg-4 pt-lg-4">
            <div class="col col-sm-3 ml-lg-5">
                <button type="button" class="btn btn-primary" onclick="SaveChanges();">Сохранить</button>
            </div>
            <div class="col col-sm-3 ml-lg-1">
                <button type="submit" class="btn btn-danger" id='deleteButton' asp-page-handler="DeleteCourse">Удалить</button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        if ($("#CurrentCourse_Id").val() == -1) {
            $(document).on("click", ".dropdown-item.trash, .dropdown-item.edit, .dropdown-divider, #addComp, #deleteButton, #addTest", function (event) {
                event.preventDefault();
                alert("Сначала сохраните курс!");
            });
        }
        var tagsArray = [];
        @foreach (var tag in Model.CurrentCourse.Tags)
        {
              @:tagsArray.push("@Html.Raw(HttpUtility.JavaScriptStringEncode(String.Format(tag.Name, Encoding.UTF8)))");

        }
        tagsArray.forEach((tag) => {

            $("#TagsInput").tagsinput("add", tag);
            console.log(tag);
        })
    });
    function DeleteChapterAjax($deleteId) {
        console.log("Entered method");

        $.ajax({
            type: "POST",
            url: '@ViewContext.RouteData.Values["page"]?handler=DeleteAjax',

            data: {
                id: $("#CurrentCourse_Id").val(),
                deleteId: $deleteId
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success() {
                console.log($('#component/' + $deleteId));

            },
            dataType: "json"
        }).done(function (data) {
            console.log(data.result);
        })
        $('#sortable > #' + $deleteId).remove();
    };

    function SaveChanges() {
        console.log("Entered method");
        let $tags = $("#TagsInput").tagsinput('items');
        if ($tags.length == 0) {
            alert("Добавьте хотя бы один тег!");
            return;
        }
        let $content = new Array();
        $("#sortable > .list-item").each(function () {
            console.log($(this).children("input").eq(0).attr("id"));
            console.log($(this).children("input").eq(1).attr("id"));
            console.log($(this).find(".flex").find(":first-child").val());

            $content.push({
                Id: $(this).children("input").eq(0).val(), Descriminator: $(this).children("input").eq(1).val(),
                Name: $(this).find(".flex").find(":first-child").val(),
            });
        });
        let $CurrentCourse =
        {
            Id: $("#CurrentCourse_Id").val(),
            Name: $("#CurrentCourse_Name").val(),
            Description: $("#CurrentCourse_Description").val(),
            Components: $content
        }
        $.ajax({
            type: "POST",
            url: '@ViewContext.RouteData.Values["page"]?handler=SaveChanges',

            data: {
                CurrentCourse: $CurrentCourse,
                TagsStrings: $tags
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (data) {
                // const $result = JSON.parse(data);
                if (data.isNew)
                    window.location.replace(document.documentURI + "?Id=" + data.id);
            },
            dataType: "json"
        });
    };

    function AddNewComponent() {
        console.log("Entered methodAdd");

        $.ajax({
            type: "POST",
            url: '@ViewContext.RouteData.Values["page"]?handler=AddComponent&id=' + $("#CurrentCourse_Id").val(),

            data: {
                Id: $("#dbId").val(),
                Name: "New chapter",

            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },

            dataType: "text"
        }).done(function (data) {
            console.log(data.result);
        })
    }

    function DeleteCourse()
    {
        $.ajax({
            type: "POST",
            url: '@ViewContext.RouteData.Values["page"]?handler=DeleteCourse&id=' + $("#CurrentCourse_Id").val(),

            data: {
                Id: $("#dbId").val(),
                Name: "New chapter",

            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },

            dataType: "text"
        }).done(function () {

        })
    }
</script>
